---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";

import Card from "../components/Card.astro";
import { db, Resource, like } from "astro:db";

const airdashResources = await db
  .select()
  .from(Resource)
  .where(like(Resource.category, "Fundamentals"));

let title = "Airdashers";
let subheader = "No Baiken No Buy";
let imgSrc = "bg-airdasher";
---

<PageLayout title={title} subheader={subheader} imgSrc={imgSrc}>
  <section
    class="w-11/12 mx-auto flex flex-col items-center lg:justify-center gap-4 lg:flex-row lg:w-9/12 md:flex-wrap"
  >
    {
      airdashResources.map((res) => (
        <Card
          id={res.id}
          title={res.title}
          category={res.category}
          imgSrc={res.imgSrc}
          link={res.link}
          description={res.description}
        />
      ))
    }
  </section>
</PageLayout>
