---
import PageLayout from "../layouts/PageLayout.astro";
import ResourceCard from "../components/ResourceCard.astro";
import { db, Resource, like } from "astro:db";

const fbResources = await db
  .select()
  .from(Resource)
  .where(like(Resource.category, "French Bread"));

let title = "French Bread";
let subheader = "Whens DFCI?";
let imgSrc = "bg-bread";
---

<PageLayout title={title} subheader={subheader} imgSrc={imgSrc}>
  <section
    class="border-2 w-11/12 mx-auto flex flex-col items-center lg:justify-center gap-4 lg:flex-row lg:w-9/12 md:flex-wrap border-green-700"
  >
    {
      fbResources.map((res) => (
        <article>
          <ResourceCard
            id={res.id}
            title={res.title}
            category={res.category}
            imgSrc={res.imgSrc}
            link={res.link}
            description={res.description}
          />
        </article>
      ))
    }
  </section>
</PageLayout>
