---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
import { db, Resource, like } from "astro:db";

const fbResources = await db
  .select()
  .from(Resource)
  .where(like(Resource.category, "French Bread"));

let title = "French Bread";
let subheader = "Thank you Kamone";
let imgSrc = "bg-bread";
---

<PageLayout title={title} subheader={subheader} imgSrc={imgSrc}>
  <section
    class="w-11/12 mx-auto grid grid-cols-1 lg:justify-center gap-4 xl:grid-cols-3 md:grid-cols-2 lg:w-8/12"
  >
    {
      fbResources.map((res) => (
        <Card
          id={res.id}
          title={res.title}
          category={res.category}
          imgSrc={res.imgSrc}
          link={res.link}
          description={res.description}
        />
      ))
    }
  </section>
</PageLayout>
