---
import Layout from "../layouts/Layout.astro";
import TabNav from "../components/TabNav.astro";
import { db, Resource, like } from "astro:db";
import ResourceCard from "../components/ResourceCard.astro";

const resources = await db.select().from(Resource);

interface Props {
  link: string;
  category: string;
  title: string;
  id: number;
}
[];
---

<Layout pageTitle="Fighting Game Resources Ughara">
  <section
    class="border-2 w-11/12 mx-auto flex flex-col items-center lg:justify-center gap-4 lg:flex-row lg:w-9/12 md:flex-wrap border-green-700"
  >
    {
      resources.map((res) => (
        <article>
          <ResourceCard
            id={res.id}
            title={res.title}
            category={res.category}
            imgSrc={res.imgSrc}
            link={res.link}
            description={res.description}
          />
        </article>
      ))
    }
  </section>
</Layout>
