---
import Layout from "../layouts/Layout.astro";
import { db, Resource, like } from "astro:db";
import ResourceCard from "../components/ResourceCard.astro";
import Card from "../components/Card.astro";

const resources = await db.select().from(Resource);

interface Props {
  link: string;
  category: string;
  title: string;
  id: number;
  type: string;
}
[];
---

<Layout pageTitle="Fighting Game Resources Ughara">
  <section
    class="w-11/12 mx-auto grid grid-cols-1 lg:justify-center gap-4 xl:grid-cols-3  xl:w-9/12 md:grid-cols-2 lg:w-8/12"
  >
    {
      resources.map((res) => (
        <Card
          id={res.id}
          title={res.title}
          category={res.category}
          imgSrc={res.imgSrc}
          link={res.link}
          description={res.description}
        />
      ))
    }
  </section>
</Layout>
