---
interface Props {
  title: string;
  subheader: string;
  imgSrc: string;
  link: string;
  description: string;
  category: string;
}

import { db, Resource, like } from "astro:db";
import InfoPageLayout from "../../layouts/InfoPageLayout.astro";
import { Image } from "astro:assets";
export const getStaticPaths = async () => {
  const resources = await db.select().from(Resource);

  return resources.map((resource) => {
    return {
      params: { id: resource.id },
      props: {
        title: resource.title,
        link: resource.link,
        category: resource.category,
        imgSrc: resource.imgSrc,
        description: resource.description,
      },
    };
  });
};

const id = Astro.params.id;
const { link, category, title, imgSrc, description } = Astro.props;
---

<InfoPageLayout pageTitle={title}>
  <section>
    <div class="w-11/12 mx-auto my-4">
      <a
        href="/"
        class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 px-6 font-medium text-neutral-200"
      >
        <div class="ml-1 transition group-hover:-translate-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
            ></path>
          </svg>
        </div>
        <span class="text-2xl">Back it Up</span></a
      >
    </div>

    <div class="pb-8 flex flex-col gap-4 w-11/12 mx-auto lg:flex-row">
      <div
        class="bg-zinc-900 relative overflow-hidden border-gray-800 p-[1px] flex items-center justify-center md:pb-[25%] md:pt-[25%] pt-[50%] pb-[50%] rounded-2xl w-full md:w-1/2 border-4 border-outline border-opacity-15"
      >
        <div
          class="absolute w-11/12 rounded-3xl overflow-hidden shadow-shine bg-transparent bg-opacity-0"
        >
          <Image
            src={imgSrc}
            class="relative h-full w-full"
            width="800"
            height="800"
            alt={title}
          />
        </div>
      </div>
      <div class="grid place-items-center">
        <div>
          <h1 class="text-neutral-200 text-3xl font-bold">{title}</h1>
          <p class="text-neutral-300 my-4">{description}</p>
          <a
            target="_blank"
            href={link}
            class="group relative inline-flex h-12 items-center justify-center rounded-md bg-pink-700 px-6 font-medium text-neutral-200"
            ><span>View Source</span><div
              class="relative ml-1 h-5 w-5 overflow-hidden"
            >
              <div
                class="absolute transition-all duration-200 group-hover:-translate-y-5 group-hover:translate-x-4"
              >
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  ><path
                    d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"></path></svg
                ><svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 -translate-x-4"
                  ><path
                    d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"></path></svg
                >
              </div>
            </div></a
          >
        </div>
      </div>
    </div>
  </section>
</InfoPageLayout>
