---
const { title, link, category, imgSrc, id, description } = Astro.props;
---

<article
  class="flex flex-col max-w-md max-h-96 border border-zinc-900 bg-zinc-950/60 rounded-lg hover:scale-105 duration-200 transition-all"
>
  <a href={`/resources/${id}`}>
    <div class="h-48 overflow-hidden">
      <img
        src={imgSrc}
        alt={title}
        class="w-full h-full rounded-t-lg overflow-hidden object-cover"
      />
    </div>
    <div class="flex-auto p-2 flex justify-between relative">
      <div>
        <h2 class="text-white truncate">{title}</h2>
      </div>
      <div class="flex absolute right-0">
        <a
          href={`/resources/${id}`}
          target="_blank"
          class="text-white hover:text-pink-700 transition-all duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-info"
            viewBox="0 0 16 16"
          >
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
            ></path>
          </svg>
        </a>
        <a
          href={link}
          target="_blank"
          class="group relative inline-flex items-center justify-center rounded-md px-6 font-medium text-neutral-200 hover:text-pink-700 transition-all duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-box-arrow-up-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
            ></path>
            <path
              fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </a>
</article>
