---
const { title, link, category, imgSrc, id, description } = Astro.props;
import { Image } from "astro:assets";
---

<div class="relative selection:bg-pink-600 group">
  <div
    class="absolute -inset-0.5 hover:bg-gradient-to-r from-pink-600 to bg-violet-600 rounded-lg blur opacity-0 group-hover:opacity-100 transition duration-200"
  >
  </div>
  <article
    class="relative max-w-sm grid rounded-lg grid-rows-2 bg-zinc-800 border-gray-700 shadow-md max-h-96"
  >
    <div class="">
      <img
        class="rounded-t-lg object-cover h-52 w-96"
        src={imgSrc}
        alt={title}
      />
    </div>
    <div class="flex flex-col justify-center p-4">
      <h2
        class="mb-2 text-2xl group-hover:text-gray-100 transition duration font-bold tracking-tight text-gray-100"
      >
        {title}
      </h2>

      <div class="flex gap-2">
        <a
          href={`/resources/${id}`}
          class="inline-flex items-center py-2 px-3 text-sm cursor-pointer font-medium text-center text-white bg-zinc-600 transition-all duration-300 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          <svg
            class="text-white dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="29"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            ></path>
          </svg>
        </a>
        <a
          href={link}
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-zinc-600 rounded-lg transition-all duration-300 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          <svg
            width="30"
            height="29"
            viewBox="0 0 30 29"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><rect width="30" height="29" rx="3" fill="transparent"></rect><path
              d="M10.454 7.36396H23.182V20.0919"
              stroke="white"></path><path
              d="M23 7.54596L9 21.546"
              stroke="white"></path></svg
          >
        </a>
        <a
          href={link}
          target="_blank"
          class="inline-flex items-center py-3 px-4 text-sm font-medium text-center text-white bg-zinc-600 rounded-lg transition-all duration-300"
          ><div
            class="relative ml-1 h-5 w-5 overflow-hidden"
          >
            <div
              class="absolute transition-all duration-200 group-hover:-translate-y-5 group-hover:translate-x-4"
            >
              <svg
              width="40"
              height="40"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                ><path
                  d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
                  fill="currentColor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"></path></svg
              ><svg
                width="40"
                height="40"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 -translate-x-4"
                ><path
                  d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
                  fill="currentColor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"></path></svg>
            </div>
          </div></a
        >
      </div>
      <div class="flex mt-3 justify-start">
        <p
          class="bg-neutral-200 rounded-full py-1 px-3 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >
          {category}
        </p>
      </div>
    </div>
  </article>
</div>
