---
interface Props {
  title: string;
  subheader: string;
  imgSrc: string;
}

const { title, subheader, imgSrc } = Astro.props;
import Navbar from "../components/Navbar.astro";
import TabNav from "../components/TabNav.astro";
import PageHeader from "../components/PageHeader.astro";
import Navigation from "../components/Navigation";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import DropdownContainer from "../components/DropdownContainer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="relative bg-zinc-950 h-full font-sans antialiased selection:bg-pink-600">
    <header>
      <Navbar />
      <PageHeader title={title} subheader={subheader} imgSrc={imgSrc} />
    </header>
    <main class="relative flex flex-col min-h-screen">
      <TabNav />
      <slot />
     
    </main>
    <DropdownContainer/>
  </body>
</html>
